* {
	/* General taskbar font, I like maple mono ^-^*/
	font-family: Classic Console Neue;
	border-radius: 8;
	font-size: 14px;
	padding: 0px;
	margin-right: 4px;
	background: transparent;
}

window#waybar {
	/* Linear gradients are used because it makes less harsh rounded border radius, gtk bug :p */
	background-image: linear-gradient(to bottom, #141216 100%);
	border-radius: 14px;
	padding: 0px;
	border-style: none;
}

#battery,
#backlight,
#network,
#clock,
#custom-applauncher,
#workspaces,
#pulseaudio {
	background-image: linear-gradient(to bottom, #27232b 100%);

	margin: 6px;
	margin-right: 0px;
	padding: 4px 8px;
	border-radius: 8px;
	color: #d8cab8;

	border-style: none;
	transition-duration: 120ms;
}

#clock {
	margin-right: 6px;
}

#pulseaudio:hover {
	background-image: linear-gradient(to bottom, #f44 100%);
	color: #141216;
	transition-duration: 120ms;
}

#custom-applauncher {
  font-weight: bold;
  transition-duration: 120ms;
}
#custom-applauncher:hover {
  background-image: linear-gradient(to bottom, #f44 100%);
  color: #141216;
  transition-duration: 120ms;
}

#workspaces button {
	transition-duration: 100ms;
	all: initial;
	min-width: 0;
	font-weight: bold;
	color: #d8cab8;
	margin-left: 0.2cm;
}

#workspaces button:hover {
	transition-duration: 120ms;
	color: #f00;
}
#workspaces button.focused {
	color: #f00;
	font-weight: bold;
}
#workspaces button.active {
	color: #f44;
	font-weight: bold;
}
#workspaces button.urgent {
	color: #fcb167;
}

#battery {
	background-color: #222222;
	color: #fff;
}
#battery.warning,
#battery.critical,
#battery.urgent {
	color: #ff4444;
}

#backlight {
	background-color: #222222;
	color: #fff;
}

#backlight:hover {
	background-image: linear-gradient(to bottom, #f44 100%);
	color: #141216;
	transition-duration: 120ms;
}
